[main]
repos = /home/user/work/repos/chrome/arm
benchmarks = /home/user/work/awfy/benchmarks
cpu = arm
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php/
slaves = elm
modes = headless

[native]
options = -O2
mode = gcc
cc = gcc
cxx = g++

[elm]
remote = 1
hostname = user@awfy-arm-spd.sh.intel.com
repos = /home/user/work/repos/chrome/arm
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
cpu = arm
machine = 9
modes = headless
python = python
includes = speedometer2,jetstream2,webxprt3

[headless]
source = chromium/src

